$color-background: #121630;
$color-page-background: #07151d;
$color-card: #1d425e;
$color-navigation: #1b3e58;
$color-accent: #ff202a;
$color-accent-dark: #8b3140;
$color-background-font: #ffffff;
$color-gray-light: #dedfe2;
$color-gray-text: #77777b;

$radius-card: 22px;
$radius-small: 14px;

$primary-font: "Inter", sans-serif;
$font-light: 300;
$font-bold: 700;